/* 
flexbox tutorial I'm looking at
https://webdesign.tutsplus.com/tutorials/how-to-build-a-full-screen-responsive-page-with-flexbox--cms-32086 */

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* creates white space around header and elongates the footer a bit */
.wrapper > * {
  padding: 20px;
  background-color: #001f3f;
}

.page-main {
  flex-grow: 1;
}
main {
  color:  #001f3f;
  background-color: #0074D9;
  background: -webkit-linear-gradient(left, #0074D9, #7FDBFF);
}

footer {
  color: #0074D9;
  background-color: #001f3f;
  flex-basis: auto;
}

.meditation-menu {
  color: #001f3f;
  /* min-width: 80vh; */
  max-width: 90vw;
  max-height: 5vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* flex-wrap: wrap; */
  
}

.timer-item {
  max-height: 100%;
}

/* .timer-input {
  max-width: 100vw;
} */

/* this works but changes both input sizes */
/* AHA I passed the Form.Input a size='medium' property which allows me to target just that input */
div.ui.medium.input {
  max-width: 20vw;
}

/* QQ */
.countdown {
  color:  #001f3f;
  min-width: 7rem;
}


/* can't git ridda dem dam arrows */
/* 3 */
/* .timer-input > input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* 2
.meditation-menu > div > input {
  color:red;
} */

/* 1
.meditation-menu > div > input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */


/* ------------------------------------------------------------------- */
/* this is messing up the perception input, it's pushing it to the left side
  Im going to try targeting the meditation-container instead */
/* .perception-input {
  max-width: 50%;
} */

/* .meditation-container {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* this is the entire interactive meditation page */
.meditation-container {
  padding-bottom: 10px;
  padding-left: 19%;
  padding-right: 19%;
}

/* this is the upper half of the interactive meditation page
which includes the <h1> Where is your mind? </h1>
the input []
the note your perception button
Your Mindscape heading
and container for the thoughts
 */

 /* QQ
 min-height: 70vh is a nice kludge for now to put the menu/timer to the bottom since I don't want to spend
 3 hours right now learning flexbox / flexbox seems to be not working how I expect
 it'd be nice to figure this out later but this project is getting a bit old and it's
 already so mcguyvered that I'd rather start something new and practice redux than continue
 patching this thing together. I think it looks presentable at this point
 gotta keep learning CSS though, it's not hard, it's just there's a lot to know and remember
 which is hard in its own way*/
.upper-half {
  /* background-color: white; */
  min-height: 70vh;
}

/* messing around with flexbox here QQ */
/* this is the lower half of the meditation page,
which includes just the */
.lower-half {
  /* display: flex;
  justify-content: center; */
  padding-bottom: 10px;
  /* background-color: black; */
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* this is where all your perceptions are logged as bubbles */
.your-mindscape{
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 400%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: #376288;
  /* background: #0074D9; */
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: 9rem;
  padding-right: 9rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* nav styling transplanted from index.css */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #001f3f;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: #0074D9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 150%
}

ul.nav li a:hover {
  background-color: #111;
}

.ui.button {
  min-width: 8vw;
}

/* fancy gradient for Welcome to Mindscape text */
#header {
  color: #001f3f;
  font-size: 3rem;
}

.about-container {
    padding-left: 5rem;
  padding-right: 5rem;
}

.about-text {
  text-align: justify;
  font-size: 1.2rem;
}

.about-text > figure > img {
  border-style: solid;
  border-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: small;
  text-align: center;
}

.about-footnote {
  text-align: justify;
  border-style: dashed;
  border-width: .1rem;
  padding: .8rem;
}

#landscape {
  border-style: solid;
  border-color:  #001f3f;
  border-width: .8rem;
  max-width: 90vw;
}