/* useless? */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #BEBEBE;
} */

/* useless? */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* redundant with App.css */
/* .App {
  text-align: center;
} */

/* form {
  text-align: center;
  margin-top: 3rem;
}

label {
  font-size: 1.5rem;
}

input, label {
  display: block;
  margin: auto;
}

input[type="submit"]{
  width: 10rem;
  margin-top: 2rem;
  height: 1.5rem;
}

ol {
  width: 50%;
  margin: auto;

}

ol li {
  width: 20%;
  margin: auto;

} */

/* COPIED TO App.css bc I don't see why this should be here */
/* ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #001f3f;
} */